@import "tailwindcss";
@layer utilities {
  /* Remove arrows in Chrome, Safari, Edge */
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Remove arrows in Firefox */
  .no-spinner {
    -moz-appearance: textfield;
  }
}